// display
$display_list: ('flex',
    'block',
    'content',
    'table',
    'grid',
);

@each $display in $display_list {
    $css-class: $display;
    $css-properties: ("display": $display);

    @include create-utility-property ($css-class, $css-properties);
}