// flex directions
// .flex-??? {
//     flex-direction: column;
//     flex-direction:row;
//     flex-direction:column-reverse;
//     flex-direction:row-reverse;
// }
$flex-directions: ('column',
    'row',
    'column-reverse',
    'row-reverse',
);

@each $flex-direction in $flex-directions {
    $css-class: flex-#{$flex-direction};
    $css-properties: ('flex-direction': $flex-direction);
    @include create-utility-property ($css-class, $css-properties);
}



// flex align-items 
// .align- {
//     align-items:baseline;
//     align-items:center;
//     align-items:flex-end;
//     align-items:flex-start;
// }

$flex-align-contents: ('baseline',
    'center',
    'flex-end',
    'flex-start',
);

@each $flex-align-content in $flex-align-contents {
    $css-class: align-#{$flex-align-content};
    $css-properties: ('align-items': $flex-align-content);
    @include create-utility-property ($css-class, $css-properties);
}