// vhs 
// .w- {
//     vh: 10%;
//     vh: 20%;
//     vh: 30%;
//     vh: 100%;
// }

@for $i from 1 to 10 {
    $increment: $i*10;

    // View Heights
    $class: vh-#{$increment};
    $property: 'height';
    $value: #{$increment}vh;
    @include private-create-utility-property ($class, $property, $value);

    // Font Wieghts
    $class: fw-#{$increment * 10};
    $property: 'font-weight';
    $value: #{$increment * 10};
    @include private-create-utility-property ($class, $property, $value);
}