//// .m- {
//      margin: 10px;
// }
$letter-names-map: ('w': 'width',
    'h': 'height',
    'vh': 'height',
    'fw': 'font-weight',
);

@for $i from 1 through 10 {

    $incremental: ($i * 10);
    $property-value: "#{$incremental}%";

    @each $letter,
    $name in $letter-names-map {

        $css-class: #{$letter}-#{$incremental};
        $css-properties: (#{$name}: $property-value);
        @include create-utility-property ($css-class, $css-properties);
    }
}