@use "sass:list";
// .m- {
//      margin: 10px;
// }
$letter-names-map: ('m': 'margin',
    'p': 'padding',
);

$directions-map: ('':'',
    'l': '-left',
    'r': '-right',
    't': '-top',
    'b': '-bottom',
);

$directions-list: (x:('left', 'right'),
    y: ('top', 'bottom'));


@for $i from 0 through 92 {

    $property-value: #{($i * 0.25)}#{$size_unit};

    @each $letter,
    $name in $letter-names-map {

        @each $key,
        $direction in $directions-map {
            $css-class: #{$letter}#{$key}-#{$i};
            $css-properties: (#{$name}#{$direction}: $property-value);
            @include create-utility-property ($css-class, $css-properties);
        }

        @each $direction,
        $dir-list in $directions-list {
            $first: nth($dir-list, 1);
            $second: nth($dir-list, 2);

            $css-class: #{$letter}#{$direction}-#{$i};
            $css-properties: (#{$name}-#{$first}: $property-value, #{$name}-#{$second}: $property-value);
            @include create-utility-property ($css-class, $css-properties);
        }
    }
}