// visibility 
// .visible- {
//      visibility: visible;
// }

$css-class: visible;
$css-properties: ('visibility': visible);
@include create-utility-property ($css-class, $css-properties);

// .hidden- {
//      visibility: hidden;
// }

$css-class: hidden;
$css-properties: ('visibility': hidden);
@include create-utility-property ($css-class, $css-properties);

// .hidden- {
//      visibility: collapse;
// }

$css-class: collapse;
$css-properties: ('visibility': collapse);
@include create-utility-property ($css-class, $css-properties);